<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>SpeedCMS 安装过程</title>
<link href="./template/install/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="page">
	<div id="logo">
		<h1><a href="#">SpeedCMS安装过程</a></h1>
		<p><em>{ by <a href="http://speedcms.googlecode.com/" target="_blank">SpeedCMS程序</a> }</em></p>
	</div>
	<hr />
	<!-- end #logo -->
	<div id="content">
		<div class="post">
			<h2 class="title">第三步，完成安装</h2>
			<p class="meta"><em>{ 您的SpeedCMS已经安装成功。 }</em></p>
			<div class="entry">
				<p class="links"><input type="button" class="button" value="进入系统" onclick="javascript:window.location.href='./index.php'"></p>
			</div>
		</div>
	</div>
	<!-- end #content -->
</div>
<!-- end #page -->
</body>
</html>